:root {
    --background-color: #f1ece8;
    --background-color-2: #454545;
    --background-color-3: #f5f2f0;
    --primary-color: #FF6000;
    --primary-color-transparent: rgba(255, 96, 0, 0.8);
    --secondary-color: #f1bf46;
    --text-color: #454545;
    --text-color-2: #f8f5f3;
    --text-color-3: #1087e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.3;
    height: 100vh;
}

a,
a:link,
a:visited,
a:hover,
#github-link,
#github-link:hover,
#github-link:visited {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.container {
    display: flex;
    flex: 1;
}

header {
    background-color: var(--primary-color-transparent);
    padding: 2rem 0;
}

.hero {
    background-image: url(./assets/orange-club.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex: 1 3;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    text-align: center;
}

.title-container {
    width: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Alfa Slab One', sans-serif;
}

.title-container>span {
    font-size: 4.5rem;
    color: var(--secondary-color);
}

.before {
    align-self: flex-start;
}

.after {
    align-self: flex-end;
}

.title-container>img {
    height: 15rem;
}

#photo-credit {
    color: var(--text-color-2);
    background-color: var(--primary-color);
    padding: 0.5rem 0 0.5rem 0;
}

#photo-credit>a {
    color: var(--secondary-color);
}

#photo-credit>a:hover,
#github-link:hover,
#login-button:hover {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: underline;

    transition: 3s ease-in;
}

#login-button {
    color: var(--text-color-3);
}

/* content section */

.content {
    display: flex;
    flex-direction: column;
    flex: 2 3;
    background-color: var(--background-color);
}

.content-section-text {
    margin: 3rem 0 0 3rem;
    line-height: 1.5;
}

.content-section-text>h2 {
    font-size: 3rem;
}

h2>#h2-orangejuice {
    color: var(--primary-color);
}

.form-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

form {
    background-color: var(--background-color-3);
    padding: 3rem;
    margin-top: 4rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

section>div {
    flex-basis: 40%;
}

label {
    font-size: 0.9em;
    display: block;
    line-height: 2rem;
    padding: 2px 0px;
}

.input,
#email {
    height: 2.5rem;
    font-size: 1.2rem;
    width: calc(100%);
    padding: 2px 10px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #d9dbdf;
    border-radius: 3px;
}

.input:valid {
    border: 1px solid var(--background-color-2);
}

.input:invalid {
    border: 1px solid var(--background-color);
}

input:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.phone-div {
    display: flex;
    gap: 5px;
}

#phone-code {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    border: 1px solid #d9dbdf;
}

select {
    border-radius: 4px;
}

input[type=submit] {
    padding: 15px 55px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    background-color: var(--background-color-2);
    color: var(--text-color-2);
    border: none;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: #585858;
    color: var(--text-color-2);
    cursor: pointer;
}

input[type=submit]:active {
    transform: scale(0.99);
    transition: 0.05s ease-in;
}

/* footer */

.footer {
    background-color: #454545;
    padding: 0.5rem;
}

.footer>p {
    color: var(--background-color);
    text-align: center;
}